h2{
    color: rgb(233, 204, 39);
    text-align: center;
}
body {
    background-color: rgb(202, 189, 169);
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 10px double red;
}
.bio{
    color: rgb(40, 40, 223);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
p:nth-child(4){
    color: rgb(41, 116, 12);
}
p a{
    color: red ;
}
  

p a:hover{
    color: green;
}
